// Custom fonts
@font-face {
    font-family: 'Soutane';
    src: url('css/soutane-webfont.eot');
    src: url('css/soutane-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/soutane-webfont.woff') format('woff'),
         url('css/soutane-webfont.ttf') format('truetype'),
         url('css/soutane-webfont.svg#soutaneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Soutane';
    src: url('css/soutanebold-webfont.eot');
    src: url('css/soutanebold-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/soutanebold-webfont.woff') format('woff'),
         url('css/soutanebold-webfont.ttf') format('truetype'),
         url('css/soutanebold-webfont.svg#soutanebold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Soutane';
    src: url('css/soutanebolditalic-webfont.eot');
    src: url('css/soutanebolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/soutanebolditalic-webfont.woff') format('woff'),
         url('css/soutanebolditalic-webfont.ttf') format('truetype'),
         url('css/soutanebolditalic-webfont.svg#soutanebold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Soutane';
    src: url('css/soutaneitalic-webfont.eot');
    src: url('css/soutaneitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/soutaneitalic-webfont.woff') format('woff'),
         url('css/soutaneitalic-webfont.ttf') format('truetype'),
         url('css/soutaneitalic-webfont.svg#soutaneitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SoutaneBlack';
    src: url('css/soutaneblack-webfont.eot');
    src: url('css/soutaneblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/soutaneblack-webfont.woff') format('woff'),
         url('css/soutaneblack-webfont.ttf') format('truetype'),
         url('css/soutaneblack-webfont.svg#soutaneblackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Styles limited to basicfantasyrpg sheets */
.basicfantasyrpg {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/items';
  @import 'components/effects';
}
