<section class="resources grid grid-3col">

  <div class="resource flex-group-center">
    <label for="data.race.value" class="resource-label">{{localize data.race.label}}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="text" name="data.race.value" value="{{data.race.value}}" data-dtype="String"/>
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="data.sex.value" class="resource-label">{{localize data.sex.label}}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="text" name="data.sex.value" value="{{data.sex.value}}" data-dtype="String"/>
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="data.age.value" class="resource-label">{{localize data.age.label}}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="text" name="data.age.value" value="{{data.age.value}}" data-dtype="String"/>
    </div>
  </div>

</section>

{{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
{{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
