<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BASICFANTASYRPG.Name'}}"/></h1>
      <div class="resources grid grid-3col">

        <div class="resource flex-group-center">
          <label for="data.hitPoints.value" class="resource-label">{{localize 'BASICFANTASYRPG.HitPoints'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.hitPoints.value" value="{{data.hitPoints.value}}" data-dtype="Number"/>
            <span class="flexshrink flex-align-center">&nbsp;/&nbsp;</span>
            <input type="text" name="data.hitPoints.max" value="{{data.hitPoints.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.level.value" class="resource-label">{{localize data.class.label}}&nbsp;/&nbsp;{{localize data.level.label}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.class.value" value="{{data.class.value}}" data-dtype="String"/>
            <span class="flexshrink flex-align-center">&nbsp;</span>
            <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.xp.value" class="resource-label">{{localize data.xp.abbr}}&nbsp;/&nbsp;{{localize 'BASICFANTASYRPG.NextLevel'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.xp.value" value="{{data.xp.value}}" data-dtype="Number"/>
            <span class="flexshrink flex-align-center">&nbsp;/&nbsp;</span>
            <input type="text" name="data.xp.next" value="{{data.xp.next}}" data-dtype="Number"/>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="combat">{{localize 'BASICFANTASYRPG.CombatTab'}}</a>
    <a class="item" data-tab="description">{{localize 'BASICFANTASYRPG.DescriptionTab'}}</a>
    <a class="item" data-tab="items">{{localize 'BASICFANTASYRPG.ItemsTab'}}</a>
    <a class="item" data-tab="spells">{{localize 'BASICFANTASYRPG.SpellsTab'}}</a>
    <a class="item" data-tab="features">{{localize 'BASICFANTASYRPG.FeaturesTab'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Combat Tab --}}
    <div class="tab combat" data-group="primary" data-tab="combat">
      <section class="grid grid-3col">
        <aside class="sidebar">

          <div class="abilities flexcol">
            {{#each data.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="data.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@abilities.{{key}}.bonus" data-label="{{ability.label}}">{{ability.label}}</label>
              <input type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.bonus" data-label="{{ability.label}}">{{numberFormat ability.bonus decimals=0 sign=true}}</span>
            </div>
            {{/each}}

            <hr>

            {{#each data.saves as |save key|}}
            <div class="ability flexrow flex-group-center">
              <label for="data.saves.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20" data-label="Saving Throw - {{save.label}}" data-target-number="{{save.value}}">{{save.label}}</label>
              <input type="text" name="data.saves.{{key}}.value" value="{{save.value}}" data-dtype="Number"/>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main combat list, span the right two columns --}}
        <section class="main grid-span-2">
          {{> "systems/basicfantasyrpg/templates/actor/parts/actor-combat.html"}}
        </section>

      </section>
    </div>

    {{!-- Description Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{> "systems/basicfantasyrpg/templates/actor/parts/actor-description.html"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/basicfantasyrpg/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/basicfantasyrpg/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Features Tab --}}
    <div class="tab features flexcol" data-group="primary" data-tab="features">
      {{> "systems/basicfantasyrpg/templates/actor/parts/actor-features.html"}}
    </div>

  </section>
</form>

