<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BASICFANTASYRPG.Name'}}" data-dtype="String"/></h1>
      <div class="resources grid grid-3col">

        <div class="resource flex-group-center">
          <label for="data.attackBonus.value" class="resource-label">{{localize 'BASICFANTASYRPG.AttackPenalty'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="data.attackBonus.value" value="{{data.attackBonus.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.rateOfFire.value" class="resource-label">{{localize data.rateOfFire.label}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.rateOfFire.value" value="{{data.rateOfFire.value}}" data-dtype="String"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.cost.value" class="resource-label">{{localize data.cost.label}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.cost.value" value="{{data.cost.value}}" data-dtype="String"/>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body grid grid-3col">

    <aside class="sidebar">
      <div class="abilities flexcol">
        <div class="ability flexrow flex-group-center">
          <label for="data.targetAC.value" class="resource-label flexlarge align-left"><a class="rollable" data-roll="d20{{numberFormat data.attackBonus.value decimals=0 sign=true}}{{numberFormat data.rangeBonus.value decimals=0 sign=true}}" data-label="{{localize 'ACTOR.TypeSiegeEngine'}} {{localize 'BASICFANTASYRPG.Attack'}}" data-target-number="{{data.targetAC.value}}">{{localize 'BASICFANTASYRPG.TargetAC'}}</a></label>
          <input class="flexlarge" type="number" name="data.targetAC.value" value="{{data.targetAC.value}}" data-dtype="Number"/>
          <a class="rollable align-right" data-roll="d20{{numberFormat data.attackBonus.value decimals=0 sign=true}}{{numberFormat data.rangeBonus.value decimals=0 sign=true}}" data-label="{{localize 'ACTOR.TypeSiegeEngine'}} {{localize 'BASICFANTASYRPG.Attack'}}" data-target-number="{{data.targetAC.value}}"><img src="systems/basicfantasyrpg/styles/ranged.svg" title="{{localize 'BASICFANTASYRPG.Roll'}} {{localize 'BASICFANTASYRPG.Attack'}}" width="24" height="24"/></a>
        </div>
        <div class="ability flexrow flex-group-center">
          <label for="data.damage.value" class="resource-label flexlarge align-left"><a class="rollable" data-roll="{{data.damage.value}}" data-label="{{localize 'ACTOR.TypeSiegeEngine'}} {{localize 'BASICFANTASYRPG.Damage'}}">{{localize 'BASICFANTASYRPG.Damage'}}</a></label>
          <input class="flexlarge" type="text" name="data.damage.value" value="{{data.damage.value}}" data-dtype="String"/>
          <a class="rollable align-right" data-roll="{{data.damage.value}}" data-label="{{localize 'ACTOR.TypeSiegeEngine'}} {{localize 'BASICFANTASYRPG.Damage'}}"><img src="systems/basicfantasyrpg/styles/damage.svg" title="{{localize 'BASICFANTASYRPG.Roll'}} {{localize 'BASICFANTASYRPG.Damage'}}" width="24" height="24"/></a>
        </div>
        <div class="ability flexrow flex-group-center">
          <h2 class="resource-label">{{localize 'BASICFANTASYRPG.Range'}}</h2>
        </div>
        <div class="ability flexrow flex-group-center">
          <label for="rangeShort" class="resource-label flexlarge align-left">{{localize data.rangeShort.label}}</label>
          <input type="text" name="data.rangeShort.value" value="{{data.rangeShort.value}}" data-dtype="String"/>
          <span class="flexshrink"><input type="radio" id="rangeShort" name="rangeBonus" value="1" {{#if (eq data.rangeBonus.value 1)}}checked{{/if}}></span>
        </div>
        <div class="ability flexrow flex-group-center">
          <label for="rangeMedium" class="resource-label flexlarge align-left">{{localize data.rangeMedium.label}}</label>
          <input type="text" name="data.rangeMedium.value" value="{{data.rangeMedium.value}}" data-dtype="String"/>
          <span class="flexshrink"><input type="radio" id="rangeMedium" name="rangeBonus" value="0" {{#if (eq data.rangeBonus.value 0)}}checked{{/if}}></span>
        </div>
        <div class="ability flexrow flex-group-center">
          <label for="rangeLong" class="resource-label flexlarge align-left">{{localize data.rangeLong.label}}</label>
          <input type="text" name="data.rangeLong.value" value="{{data.rangeLong.value}}" data-dtype="String"/>
          <span class="flexshrink"><input type="radio" id="rangeLong" name="rangeBonus" value="-2" {{#if (eq data.rangeBonus.value -2)}}checked{{/if}}></span>
        </div>
      </div>
    </aside>

    {{!-- Description --}}
    <section class="main grid-span-2">
      <div class="flex-group-center tabs"><span class="item active">Description</span></div>
      <div class="description">
        {{editor enrichedBiography target="system.biography" button=true editable=editable}}
      </div>

    </section>
  </form>
