<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BASICFANTASYRPG.Name'}}"/></h1>
      <div class="resources grid grid-3col">

        <div class="resource flex-group-center">
          <label for="data.attackBonus.value" class="resource-label">{{localize 'BASICFANTASYRPG.AttackPenalty'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="data.attackBonus.value" value="{{data.attackBonus.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.rateOfFire.value" class="resource-label">{{localize data.rateOfFire.label}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.rateOfFire.value" value="{{data.rateOfFire.value}}"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.cost.value" class="resource-label">{{localize data.cost.label}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.cost.value" value="{{data.cost.value}}"/>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body grid grid-3col">

    <aside class="sidebar">
      <div class="abilities flexcol">
        <div class="ability flexrow flex-group-center">
          <label for="data.targetAC.value" class="resource-label"><a class="rollable" data-roll="d20{{numberFormat data.attackBonus.value decimals=0 sign=true}}+{{../input.radio.range.value}}" data-label="{{localize 'ACTOR.TypeSiegeEngine'}} {{localize 'BASICFANTASYRPG.Attack'}}" data-target-number="{{data.targetAC.value}}">{{localize 'BASICFANTASYRPG.TargetAC'}}</a></label>
          <input type="number" name="data.targetAC.value" value="{{data.targetAC.value}}" data-dtype="Number"/>
          <a class="rollable" data-roll="d20{{numberFormat data.attackBonus.value decimals=0 sign=true}}+{{../input.radio.range.value}}" data-label="{{localize 'ACTOR.TypeSiegeEngine'}} {{localize 'BASICFANTASYRPG.Attack'}}" data-target-number="{{data.targetAC.value}}"><img src="systems/basicfantasyrpg/styles/ranged.svg" title="{{localize 'BASICFANTASYRPG.Roll'}} {{localize 'BASICFANTASYRPG.Attack'}}" width="24" height="24"/></a>
        </div>
        <div class="ability flexrow flex-group-center">
          <label for="data.damage.value" class="resource-label"><a class="rollable" data-roll="{{data.damage.value}}" data-label="{{localize 'ACTOR.TypeSiegeEngine'}} {{localize 'BASICFANTASYRPG.Damage'}}">{{localize 'BASICFANTASYRPG.Damage'}}</a></label>
          <input type="text" name="data.damage.value" value="{{data.damage.value}}"/>
          <a class="rollable" data-roll="{{data.damage.value}}" data-label="{{localize 'ACTOR.TypeSiegeEngine'}} {{localize 'BASICFANTASYRPG.Damage'}}"><img src="systems/basicfantasyrpg/styles/damage.svg" title="{{localize 'BASICFANTASYRPG.Roll'}} {{localize 'BASICFANTASYRPG.Damage'}}" width="24" height="24"/></a>
        </div>
        <div class="ability flexrow flex-group-center">
          <h2 class="resource-label">{{localize 'BASICFANTASYRPG.Range'}}</h2>
        </div>
        <div class="ability flexrow flex-group-center">
          <label for="shortRange" class="resource-label">{{localize data.shortRange.label}}</label>
          <input type="text" name="data.shortRange.value" value="{{data.shortRange.value}}"/>
          <input type="radio" id="shortRange" name="range" value="+1">
        </div>
        <div class="ability flexrow flex-group-center">
          <label for="mediumRange" class="resource-label">{{localize data.mediumRange.label}}</label>
          <input type="text" name="data.mediumRange.value" value="{{data.mediumRange.value}}"/>
          <input type="radio" id="mediumRange" name="range" value="0" checked>
        </div>
        <div class="ability flexrow flex-group-center">
          <label for="longRange" class="resource-label">{{localize data.longRange.label}}</label>
          <input type="text" name="data.longRange.value" value="{{data.longRange.value}}"/>
          <input type="radio" id="longRange" name="range" value="-2">
        </div>
      </div>
    </aside>

    {{!-- Description --}}
    <section class="main grid-span-2">
      <div class="description">
        {{editor enrichedBiography target="system.biography" button=true editable=editable}}
      </div>

    </section>
  </form>
