<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BASICFANTASYRPG.Name'}}"/></h1>
      <div class="grid grid-4col">
        <div class="resource">
          <label for="data.class.value" class="resource-label">{{localize data.class.label}}</label>
          <input type="text" name="data.class.value" value="{{data.class.value}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label for="data.spellLevel.value" class="resource-label">{{localize data.spellLevel.label}}</label>
          <input type="text" name="data.spellLevel.value" value="{{data.spellLevel.value}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label for="data.range.value" class="resource-label">{{localize data.range.label}}</label>
          <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label for="data.duration.value" class="resource-label">{{localize data.duration.label}}</label>
          <input type="text" name="data.duration.value" value="{{data.duration.value}}" data-dtype="String"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="description">
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>

</form>
