<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BASICFANTASYRPG.Name'}}"/></h1>
      <div class="grid grid-3col">
        <div class="resource">
          <label for="data.quantity.value" class="resource-label">{{localize data.quantity.label}}</label>
          <input type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label for="data.price.value" class="resource-label">{{localize data.price.label}}</label>
          <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label for="data.weight.value" class="resource-label">{{localize data.weight.label}}</label>
          <input type="text" name="data.weight.value" value="{{data.weight.value}}" data-dtype="String"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description --}}
    <div class="description">
      {{editor enrichedDescription target="system.description" button=true editable=editable}}
    </div>

  </section>
</form>
