<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-3col">
        <div class="resource">
          <label for="data.price.value" class="resource-label">Price</label>
          <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label for="data.size.value" class="resource-label">Size</label>
          <input type="text" name="data.size.value" value="{{data.size.value}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label for="data.weight.value" class="resource-label">Weight</label>
          <input type="text" name="data.weight.value" value="{{data.weight.value}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label for="data.damage.value" class="resource-label">Damage</label>
          <input type="text" name="data.damage.value" value="{{data.damage.value}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label for="data.bonusAb.value" class="resource-label">Bonus AB</label>
          <input type="text" name="data.bonusAb.value" value="{{data.bonusAb.value}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label for="data.range.value" class="resource-label">Range</label>
          <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="String"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="description">
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>

</form>
