<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BASICFANTASYRPG.Name'}}"/></h1>
      <div class="grid grid-5col">
        <div class="resource">
          <label for="system.height.value" class="resource-label">{{localize data.height.label}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.height.value" value="{{data.height.value}}" data-dtype="Number"/>
            <span class="flexshrink flex-align-center">&nbsp;{{localize 'BASICFANTASYRPG.FeetAbbr'}}</span>
          </div>
        </div>
        <div class="resource">
          <label for="system.area.value" class="resource-label">{{localize data.area.label}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.area.value" value="{{data.area.value}}" data-dtype="Number"/>
            <span class="flexshrink flex-align-center">&nbsp;{{localize 'BASICFANTASYRPG.FeetAbbr'}}<sup>2</sup></span>
          </div>
        </div>
        <div class="resource grid-span-2">
          <label for="system.material.value" class="resource-label">{{localize data.material.label}}</label>
          <select name="system.material.value" id="system.material.value">
            <option value="floor" {{selected (eq data.material.value "floor")}}>{{localize 'ITEM.TypeFloor'}}</option>
            <option value="roofThatch" {{selected (eq data.material.value "roofThatch")}}>{{localize 'BASICFANTASYRPG.RoofThatched'}}</option>
            <option value="roofWood" {{selected (eq data.material.value "roofWood")}}>{{localize 'BASICFANTASYRPG.RoofWood'}}</option>
            <option value="roofSlate" {{selected (eq data.material.value "roofSlate")}}>{{localize 'BASICFANTASYRPG.RoofSlate'}}</option>
          </select>
        </div>
        <div class="resource">
          <label for="system.price.value" class="resource-label">{{localize data.price.label}}</label>
          <input type="number" name="system.price.value" value="{{data.price.value}}" data-dtype="Number" disabled/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description --}}
    <div class="description">
      {{editor enrichedDescription target="system.description" button=true editable=editable}}
    </div>

  </section>
</form>
