<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-3col">
        <div class="resource">
          <label class="resource-label">Quantity</label>
          <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">Price</label>
          <input type="text" name="data.price" value="{{data.price}}" data-dtype="String"/>
        </div>
        <div class="resource">
          <label class="resource-label">Weight</label>
          <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description --}}
    <div class="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>
</form>
